
*{
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

:root {
    --darkp:rgba(117, 97, 128);
	--purple: rgba(176, 115, 156);
    --mauve:rgba(221, 124, 155);
    --reddish:rgba(246, 148, 155);
    --orangish:rgba(247, 171, 164, 0.7);
    --yellow:rgba(247, 201, 181);
}

body {
  background-image:linear-gradient(rgba(176, 115, 156, 0.8), rgba(221, 124, 155, 0.6), rgba(246, 148, 155, 0.6));  
    flex-direction: column;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  text-align: center;
  font-size: 130%;  
}
@media only screen and (min-width: 500px) {
  body {
    min-height: 100vh;
  }
}

.parentContainer{
    display: flex;
    
}

.journalContainer{    
	flex: 1.1 0 1%;
    width: 50%;
    height: 90%;
    min-height: 550px;
    max-width: 800px;
    min-width: 450px;
    background: var(--yellow);
    background-image: radial-gradient(#9a9a9a 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px 2px #00000040;
    box-sizing: border-box;
    margin-left: 15px;
}

.journalContainer h2{ 
	font-size: 30px;
	font-weight: 600;    
	margin-bottom: 5px;
    background: rgba(191, 112, 8, 0.5);
    border-radius: 18px 18px 0px 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #322e30;
    position: relative;
    
}

#new-diary-entry {
	flex: 1.2 0 0%;
	padding: 15px;
	color: black;
    background-color: transparent;
    outline: none;
    border: none;
	font-size: 18px;
    width: 100%;
    overflow: hidden;
    resize: none;
}
#diary-entry-form {
	display: block;;
}

.btn-submit {
    flex-basis: 48%;
    background: var(--reddish);
    width: 90%;
    color: #fff;
    outline: 0;
    height: 40px;
    margin-bottom: 10px ;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    transition: background 1s;
}

.toDoContainer {
    width: 25%;
    height: 25%;
    min-height: 250px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px 2px #00000040;
}

header h1{ 
	font-size: 23px;
	font-weight: 600;
	color: var(--mauve);
    color: #900C3F;
    position: relative;
    background: rgba(246, 148, 155, 0.5);
    border-radius: 18px 18px 0px 0px;
    padding-top: 15px;
    padding-bottom: 11px;
}
.new-task-input i{
    margin-left: 5px;
    margin-right: 5px;
    color: #756180;

}
#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

.new-task-input {
	flex: 1.2 0 0%;
	padding: 7px;
	border-radius: 5px;
	color: var(--orangish);
	font-size: 11px;
    width: 60%;
    background: rgba(246, 148, 155, 0.6);
    margin: 7px ;
    display: flex;
    align-items: center;
    max-height: 35px;
    transition: max-height 0.5s;
    overflow: hidden;
}



#new-task-submit {
	color: var(--darkp);
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
    margin: 7px;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 5px;
}

.task-list h2 {
	font-size: 20px;
	font-weight: 300;
	color: var(--mauve);
	margin-bottom: 15px;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--orangish);
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: rgb(36, 36, 36);
	font-size: 12px;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--mauve);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	color: var(--purple);
}

.task .actions .delete {
	color: var(--purple);
}

.statsContainer {
    width: 25%;
    height: 25%;
    position: relative;
    min-height: 250px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px 2px #00000040;
    margin-left: 15px;
  }

  .stats{
        font-size: 23px;
        font-weight: 600;
        color: var(--mauve);
        color: #900C3F;
        position: relative;
        background: rgba(246, 148, 155, 0.5);
        border-radius: 18px 18px 0px 0px;
        padding-top: 15px;
        padding-bottom: 11px;
    }
  

#btn-stats-water{    
    margin-top: 20px;
    margin-left: 7px;
    padding: 10px;
    color: #487fff;
    float: left;
    transform: rotate(4deg);
    transform-origin: center;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#btn-stats-walk{
    margin-top: 20px;
    margin-left: 7px;
    padding: 10px;
    float: left;
    color: #383838;
    transform: rotate(4deg);
    transform-origin: center;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cross{    
    margin-top: 15px;
    padding: 7px;
    float: left;
}

.btn-stats{
    display: grid;
}  

#btn-stats-water:active, #btn-stats-water:focus {
    transform: translateY(4px);
    outline: 0;
  }

#btn-stats-walk:active, #btn-stats-walk:focus {
    transform: translateY(4px);
    outline: 0;
  }

.switch-field {
	display: inline-flex;
    padding: 8px;
	overflow: hidden;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	/* height: 1px;
	width: 1px; */
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #ffffff;
	color: rgba(0, 0, 0, 0.8);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 8px;
	/* margin-right: -1px; */
	border: 1px solid rgba(0, 0, 0, 0.2);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #9090ec;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 8px 0 0 8px;
}

.switch-field label:last-of-type {
	border-radius: 0 8px 8px 0;
}

/* modal,
.modal-box {
  z-index: 900;
}. */
.btn-field button{
    font-size: 18px;
    flex-basis: 48%;
    background: #ffd9e2;
    width: 170px;
    color: #101010;
    outline: 0;
    height: 40px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    transition: background 1s;
}


#my_modal{
    display: none;
    position: absolute;
    width: 600px;
    height: 300px;
    box-sizing: border-box;
    /* margin-left: 300px; */
    border-radius: 20px;
    text-align: center;
    background: white;
    padding: 20px;
    transform: translate(50%, 50%);

}

#my_modal img{
    height: 170px;
    width: 170px;
    padding: 10px;
}
/* .modal-sandbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}

.modal {
  display: none; 
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0,0,.3,1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #546E7A;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

/* Close Button */
/* .close-modal {
  text-align: right;
  cursor: pointer;
} */

/* Animation */
/*@-webkit-keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px; 
    opacity: 0;
  }
  100% {
    top: 0; 
    opacity: 1;
  }
}



.modal-trigger, button {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: ease .2s;
}

.close-modal button {
  border: 1px solid #333333;
  outline: none;
  color: #333333;
}

.modal-trigger:hover {
  padding: 20px 60px;
} */